//#########################

//###Pipeline Parameters###

//#########################



params.name_split_on=""

params.primerPath = ""

params.reference =""


//#### PE Assembly ####



//Trimming

params.minlength=75

params.windowsize=4

params.qualitytrimscore=30

threads=4



//iVar

params.ivar_mindepth=10

params.ivar_minfreq=0

//#######################

//###Pipeline Profiles###

//#######################

params.pipe = ""

profiles {

  docker {

    includeConfig 'configs/docker.config'

  }

  singularity {

    includeConfig 'configs/singularity.config'

  }

}
